<html>
    <head>


    </head>
    <body>
        <form action="/blogs" method = "post">
            <input type="number" name="preg" placeholder="Are you pregnant?" required='required'/>
            <input type="number" name="plas" placeholder="Plasma level" required='required'/>
            <input type="number" name="pres" placeholder="Blood Pressure" required='required'/>
            <input type="number" name="skin" placeholder="Skin color and Texture" required='required'/>
            <input type="number" name="test" placeholder="Please enter your test score" required='required'/>
            <input type="number" name="mass" placeholder="Please enter weight in Kilograms" required='required'/>
            <input type="number" name="pedi" placeholder="Do you want our special pedicure service as well?" required='required'/>
            <input type="number" name="age" placeholder="Please enter age here" required='required'/>
            <button type="submit">Give me my prediction</button>
        </form>


    </body>



</html>